html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--bg-color, #f4f4f4);
    color: var(--text-color, #000);
}

body.dark-mode {
    --bg-color: #333;
    --text-color: #fff;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--header-bg, #fff);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

body.dark-mode header {
    --header-bg: #444;
}

header h1 {
    margin: 0;
}

nav.controls {
    display: flex;
    gap: 10px;
}

nav.controls button {
    padding: 10px;
    cursor: pointer;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
}

nav.controls button:hover {
    background-color: #bbb;
}

body.dark-mode nav.controls button {
    background-color: #666;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

section#blogsContainer {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
}

article {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(128, 128, 128, 0.5); 
    padding: 20px;
    width: 100%;
    box-sizing: border-box; 
}

body.dark-mode article {
    background-color: rgba(85, 85, 85, 0.9);
    border-color: #555;
    box-shadow: 0 4px 8px rgba(85, 85, 85, 0.5); 
}

article h2 {
    margin-top: 10px;
    text-decoration: underline;
}

article p {
    margin: 10px 0;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: var(--footer-bg, #fff);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

body.dark-mode footer {
    --footer-bg: #444;
}

footer a {
    color:black;
    text-decoration:none;
}

body.dark-mode footer a {
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}