/* Below is the styling for the home page or landing page */
/* Styling for html and body on the landing page */
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:white;
    color: black;
    margin: 0;
    padding: 0;
}

/* Styling for dark mode when toggled */
body.dark-mode {
    background-color: #333;
    color: #fff;
}

/* Styling for the main section */
main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling for the container image and the form section */
.container {
    display: flex;
    width: 80%;
    height: 80%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* Styling for the form and image setting*/
/* flex: 1; so the form and image will grow to fill any available space and shrink proportionally if there isn't enough space. */
.form-section, .image-section {
    flex: 1;
}

/* Below is the styling for the form section where the user is prompted to enter his Username, Title and Content */
.form-section {
    padding: 20px;
}

/* Styling for the image on the landing page  */
.image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Styling for the heading on the landing page */
h1 {
    text-align: center;
}

/* Styling for the footer (links to portfolio) */
footer {
    text-align: center;
    margin-top: 20px;
}

/* Text colour styling for the footer (links to portfolio) */
footer a {
    color: maroon;
    text-decoration: none;
}